button.MuiButtonBase-root.MuiButton-root.MuiLoadingButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-disableElevation.MuiButton-root.MuiLoadingButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-disableElevation.css-frqa4v{
    color: #1392c4;
}
a.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-disableElevation.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-disableElevation.css-12qniho{
    color: #1392c4;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButton-disableElevation.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButton-disableElevation.css-t6aerc{
    color: #1392c4;
}

.css-vubbuv {
    display: none !important;
}

.css-jhfuvl {
    color: #0098ca !important;
}

.css-v0jhvw {
    color: #0098ca !important;
}

.css-qky9a7 {
    background-color: #0098ca !important;
    color: white !important;
}

.css-1kjid00 {
    background-color: #0098ca !important;
    color: white !important;
}

